ABC4RD_ERPNEXT_IMAGE=abc4rd/erpnext-crm:v16.30.0-abc4rd.1
ERPNEXT_BASE_IMAGE=frappe/erpnext:v16.30.0@sha256:5349ec895be64617d1b0060d6dde0740592fa65eca266f8eb5e26bd3e73e2126
MARIADB_IMAGE=mariadb:11.8@sha256:efb4959ef2c835cd735dbc388eb9ad6aab0c78dd64febcd51bc17481111890c4
REDIS_IMAGE=redis:8.6-alpine@sha256:cd218f4b106a332c5c992e38a9480bfb9d7e9f8f7b0ec9a0023bfa36d9a408f9

SITE_NAME=restore-drill-YYYYMMDD.internal
ERPNEXT_PROJECT_NAME=abc4rd-erpnext-restore-drill-YYYYMMDD
ERPNEXT_RESOURCE_PREFIX=abc4rd-erpnext-restore-drill-YYYYMMDD
DB_ROOT_PASSWORD_FILE=/opt/abc4rd/secrets/erpnext-restore-drill-db-root-password
ERPNEXT_ADMIN_PASSWORD_FILE=/opt/abc4rd/secrets/erpnext-restore-drill-administrator-password

TUTOR_NETWORK=restore-drill-network-must-not-be-used
KEYCLOAK_ISSUER=https://id.abc4rd.org/realms/abc4rd
UPSTREAM_REAL_IP_ADDRESS=127.0.0.1
UPSTREAM_REAL_IP_HEADER=X-Forwarded-For
UPSTREAM_REAL_IP_RECURSIVE=off
CLIENT_MAX_BODY_SIZE=25m
PROXY_READ_TIMEOUT=120

GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120
