ABC4RD_MATRIX_DB_PASSWORD=source-from-1password
ABC4RD_MATRIX_OIDC_CLIENT_SECRET=source-from-1password
ABC4RD_MATRIX_MACAROON_SECRET=source-from-1password
ABC4RD_MATRIX_FORM_SECRET=source-from-1password

